" 此配置文件是给ideavim插件配置使用的
" ideavim智能做一些基本的配置映射和少量的set配置， 
" 但是可以使用idea IDE特有的action做配置还是不错的

let mapleader=","
" idea插件能支持的选项
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
" 相对行号
" set relativenumber
set scrolloff=3
set history=100000

inoremap jk <esc>

" quit visual mode
vnoremap v <esc>
nnoremap H ^
nnoremap L $

" redo
nnoremap U <C-r>

" gT gt tab之间切换 是个好东西啊
